@model SkautSIS.PersonGroups.ViewModels.EditPersonGroupsVisibilityViewModel

<fieldset><legend>@T("Person groups visibility")</legend>
<ul>
@{
    var personGroupIndex = 0;
}
@foreach (var entry in Model.PersonGroups) {
    <li><input type="hidden" value="@entry.PersonGroup.PersonGroupId"
        name="@Html.FieldNameFor(m => m.PersonGroups[personGroupIndex].PersonGroup.PersonGroupId)"/>
        <label for="@Html.FieldNameFor(m => m.PersonGroups[personGroupIndex].IsChecked)">
            <input type="checkbox" value="true"
                name="@Html.FieldNameFor(m => m.PersonGroups[personGroupIndex].IsChecked)"
                id="@Html.FieldNameFor(m => m.PersonGroups[personGroupIndex].IsChecked)"
                @if (entry.IsChecked) {<text>checked="checked"</text>}/>
            @string.Format("{0} - {1}",
                entry.PersonGroup.DisplayName,
                entry.PersonGroup.TypeValue)
        </label>
        @{personGroupIndex++;}
    </li>
}
</ul>
</fieldset>

