@model SkautSIS.Core.Models.SkautSisCoreSettingsPart

<fieldset>
    <legend>@T("SkautSIS Settings")</legend>
    <div>
        @Html.CheckBoxFor(m => m.UseTestingWebServices)
        <label class="forcheckbox" for="@Html.FieldIdFor( m => m.UseTestingWebServices)">@T("Use testing version of SkautIS web services")</label>
    </div>
    <div>
        @Html.LabelFor(m => m.AppId, T("Application ID"))
        @Html.TextBoxFor(m => m.AppId, new { @class = "textMedium" })
        @Html.ValidationMessageFor(m => m.AppId, "*")
        <span class="hint">@T("The identifier that you receive from SkautIS administrators after their approval of your application.")</span>
    </div>
</fieldset>