@using System.Web.Mvc;
@using Orchard.ContentManagement;

@{
    var userCanRegister = WorkContext.CurrentSite.As<SkautSIS.Users.Models.RegistrationSettingsPart>().UsersCanRegister;
    var enableLostPassword = WorkContext.CurrentSite.As<SkautSIS.Users.Models.RegistrationSettingsPart>().EnableLostPassword;
}

<div class="user-display">
    @if (Request.IsAuthenticated) {
        <span class="user-actions welcome">
            @T("Welcome, <strong>{0}</strong>!", new HtmlString(Html.ActionLink( WorkContext.CurrentUser.UserName, "ChangePassword", new { Controller = "Account", Area = "SkautSIS.Users" }).ToString()))
        </span>
        <span class="user-actions">
            @Html.ActionLink(T("Sign Out").ToString(), "LogOff", new { Controller = "Account", Area = "SkautSIS.Users" })
            @Html.ActionLink("Dashboard", "Index", new { Area = "Dashboard", Controller = "Admin" })
        </span>
    } else {
        <span class="user-actions">
            @Html.ActionLink(T("Sign In").ToString(), "LogOn", new { Controller = "Account", Area = "SkautSIS.Users" })
            @if (userCanRegister)
            { <text>|</text> @Html.ActionLink(T("Register").Text, "Register", new { Controller = "Account", Area = "SkautSIS.Users" }) @T(" if you don't have an account.") }
        </span>
    }
</div>