@model SkautSIS.Users.ViewModels.EditSkautIsUserViewModel
@if (Model.UserPart.SkautIsUserId.HasValue)
{
    <fieldset>
        <legend>@T("SkautIS Information")</legend>

        <fieldset>
            @Html.LabelFor(m => m.UserPart.SkautIsUserName, T("SkautIS Username"))
            @Html.TextBoxFor(m => m.UserPart.SkautIsUserName, new { @class = "text-medium", disabled = "disabled" })
        </fieldset>

        <fieldset>
            <label>@T("Full name")</label>
            <input type="text" class="textMedium" disabled="disabled" value="@Model.UserPart.LastName @Model.UserPart.FirstName @(HasText(Model.UserPart.NickName) ? "(" + Model.UserPart.NickName + ")" : "")" />
        </fieldset>

        @if (Model.UserPart.BirthDate.HasValue)
        {
            <fieldset>
                <label>@T("Birthdate")</label>
                <input type="text" class="textMedium" disabled="disabled" value="@Display.DateTime(DateTimeUtc: Model.UserPart.BirthDate.Value, CustomFormat: T(Model.DateTimeLocalization.ShortDateFormat))" />
            </fieldset>
        }
    </fieldset>
}